<div class="ion-padding" id="logo-div">
  <ion-text color="medium" class="ion-text-center">
    <p>{{title ? title : ''}}</p>
   <img src="../../../assets/icon/financas_logo.png">
    <h3>iFinanças</h3>
  </ion-text>
</div><br><br>